@import url("http://fonts.googleapis.com/css?family=Basic&subset=latin,latin-ext");
@keyframes pulse {
  0% { }
  100% {
    transform: scale(1.1);
    border-radius: 25px; } }

@keyframes jump {
  0% {
    margin-bottom: 0px;
    transform: translate(-50%, -50%) scale(0.9); }
  100% {
    margin-bottom: 4px;
    transform: translate(-50%, -50%) scale(1.4); } }

@keyframes drop {
  0% {
    opacity: 0;
    margin-bottom: 600px; }
  70% {
    margin-bottom: 180px; }
  100% {
    margin-bottom: 200px;
    opacity: 1; } }

@keyframes navigation {
  0% {
    background-color: #1A1A1A;
    border-top: 1px solid #e74c3c; }
  100% {
    border-top: 10px solid white;
    padding-bottom: 4px;
    border-bottom: 5px solid white;
    border-radius: 7px; } }

@keyframes pulse2 {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1.1); } }

body {
  font-family: "Basic", sans-serif; }

.hero-slogan {
  color: white;
  text-align: center;
  font-family: "Basic", sans-serif; }
  .hero-slogan h1 {
    background-color: rgba(231, 76, 60, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 40px 80px;
    margin: 0; }
    @media only screen and (min-width: 1200px) {
      .hero-slogan h1 span:before {
        content: " \2022 ";
        padding: 0 5px;
        color: white; } }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .hero-slogan h1 {
        font-size: 25px; }
        .hero-slogan h1 span:before {
          content: " \2022 ";
          padding: 0 5px;
          color: white; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .hero-slogan h1 {
        font-size: 20px; } }
    @media only screen and (max-width: 420px) {
      .hero-slogan h1 {
        font-size: 18px; } }
  .hero-slogan h2 {
    background-color: rgba(44, 62, 80, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #e74c3c;
    padding: 10px 20px;
    margin: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .hero-slogan h2 {
        font-size: 23px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .hero-slogan h2 {
        font-size: 18px; } }
    @media only screen and (max-width: 420px) {
      .hero-slogan h2 {
        font-size: 16px; } }

.banner-slogan {
  padding: 10px; }
  .banner-slogan p {
    color: white;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 6px;
    text-align: center; }
    @media only screen and (max-width: 420px) {
      .banner-slogan p {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 2px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .banner-slogan p {
        font-size: 20px;
        line-height: 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .banner-slogan p {
        font-size: 24px;
        line-height: 24px; } }

.offer-container h1 {
  padding: 30px;
  margin-top: 65px;
  text-align: center;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .offer-container h1 {
      margin-top: 75px;
      padding: 60px 0 0 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .offer-container h1 {
      margin-top: 75px;
      padding: 60px 0 0 0; } }

.offer-item h3 {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px; }
  @media only screen and (max-width: 420px) {
    .offer-item h3 {
      font-size: 20px;
      line-height: 18px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .offer-item h3 {
      font-size: 22px;
      line-height: 28px; } }

.content-box {
  padding: 0 20px; }
  .content-box p,
  .content-box li {
    font-size: 22px;
    font-weight: normal; }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .content-box p,
      .content-box li {
        font-size: 18px;
        line-height: 22px; } }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .content-box p,
      .content-box li {
        font-size: 20px; } }
    @media only screen and (max-width: 420px) {
      .content-box p,
      .content-box li {
        font-size: 16px;
        line-height: 20px;
        text-align: left; } }

.content-title h3 {
  margin: 0;
  padding-left: 70px; }

.portfolio h1 {
  text-transform: uppercase;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 50px 0; }

.job-txt {
  color: white;
  text-align: left; }
  .job-txt h5 {
    font-weight: normal;
    margin: 15px 0;
    font-size: 24px; }
    .job-txt h5:first-child {
      margin-top: 30px; }
    @media only screen and (max-width: 420px) {
      .job-txt h5 {
        font-size: 22px; } }
  .job-txt h4 {
    margin: 30px 0;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: white;
    color: #e74c3c; }
    .job-txt h4 h2 {
      text-align: center; }
  .job-txt ul {
    margin: 0;
    padding: 0;
    list-style: square; }
    @media only screen and (max-width: 420px) {
      .job-txt ul {
        border-bottom: 1px solid white; } }
    .job-txt ul li {
      margin-left: 10px;
      font-size: 20px;
      letter-spacing: 1px; }
      @media only screen and (max-width: 420px) {
        .job-txt ul li {
          font-size: 18px;
          padding-bottom: 10px; } }
      @media only screen and (min-width: 421px) and (max-width: 767px) {
        .job-txt ul li {
          font-size: 20px;
          padding-bottom: 14px; } }
  .job-txt span {
    display: inline-block;
    font-size: 40px;
    margin: 20px;
    animation: pulse2 900ms infinite ease-in-out both 1s; }

.txt-revo {
  padding: 20px;
  text-align: center;
  font-weight: bold; }
  .txt-revo h3 {
    font-size: 28px;
    letter-spacing: 2px;
    margin: 30px 0 10px 0; }
    @media only screen and (max-width: 420px) {
      .txt-revo h3 {
        font-size: 20px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .txt-revo h3 {
        font-size: 22px; } }
  .txt-revo p {
    font-size: 22px;
    letter-spacing: 2px;
    color: #1A1A1A;
    margin: 5px; }
    @media only screen and (max-width: 420px) {
      .txt-revo p {
        font-size: 18px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .txt-revo p {
        font-size: 20px; } }

.txt-coop {
  color: white;
  text-align: left; }
  .txt-coop h3 {
    margin: 30px 0;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: white;
    color: #e74c3c; }
  .txt-coop p {
    letter-spacing: 2px;
    font-size: 22px; }
    @media only screen and (max-width: 420px) {
      .txt-coop p {
        font-size: 18px;
        padding-bottom: 10px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .txt-coop p {
        font-size: 20px;
        padding-bottom: 14px; } }

.bg-red p {
  display: inline-block;
  margin: 0;
  font-size: 30px;
  background-color: white;
  color: #e74c3c;
  padding: 0 30px; }

footer {
  color: white; }
  footer .foot-txt p {
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    padding: 0 25px;
    margin: 10px; }
    footer .foot-txt p .fa {
      font-size: 40px;
      margin: 20px 50px; }
    footer .foot-txt p:last-child span:last-child {
      margin-left: 252px; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    footer .foot-txt p {
      padding: 10px; }
      footer .foot-txt p .fa {
        font-size: 20px;
        margin: 8px 16px; }
      footer .foot-txt p:last-child span:last-child {
        margin-left: 100px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    footer .foot-txt p {
      text-align: center;
      font-size: 18px;
      line-height: 22px;
      padding: 10px;
      margin: 10px; }
      footer .foot-txt p .fa {
        font-size: 20px;
        margin: 8px 16px; }
      footer .foot-txt p:last-child span:last-child {
        margin-left: 0; } }
  @media only screen and (max-width: 420px) {
    footer .foot-txt p {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      padding: 5px; }
      footer .foot-txt p .fa {
        font-size: 18px;
        margin: 5px 10px; }
      footer .foot-txt p:last-child span:last-child {
        margin-left: 0; } }
  footer h3 {
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 20px;
    padding: 20px 0; }

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: column; }

nav {
  z-index: 1000; }
  @media only screen and (max-width: 420px) {
    nav {
      position: fixed;
      top: 80px;
      right: -1000px;
      display: block;
      width: 100%;
      z-index: 1000;
      transition: 700ms ease-in-out; }
      nav li {
        background-color: rgba(44, 62, 80, 0.8);
        border-bottom: 1px solid rgba(44, 62, 80, 0.8); } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    nav {
      position: fixed;
      top: 80px;
      right: -1000px;
      display: block;
      width: 100%;
      z-index: 1000;
      transition: 700ms ease-in-out; }
      nav li {
        background-color: rgba(44, 62, 80, 0.8);
        border-bottom: 1px solid rgba(44, 62, 80, 0.8); } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    nav {
      display: flex;
      justify-content: center;
      background-color: white;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.9); } }
  @media only screen and (min-width: 1200px) {
    nav {
      display: flex;
      justify-content: center;
      background-color: white;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.9); } }

.nav-list {
  margin: 0;
  padding: 0; }
  .nav-list li {
    list-style: none;
    text-align: center;
    padding: 20px 0; }
    .nav-list li a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-weight: bold; }
  @media only screen and (min-width: 1200px) {
    .nav-list {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0; }
      .nav-list li {
        display: flex;
        border-bottom: 1px solid #e74c3c;
        padding: 10px 0;
        transition: 200ms; }
        .nav-list li:hover {
          cursor: pointer;
          background-color: #1A1A1A;
          border-top: 4px solid #e74c3c;
          animation: navigation 300ms 1 forwards; }
          .nav-list li:hover a {
            color: white;
            padding: 6px 10px; }
        .nav-list li a {
          flex: 1;
          padding: 10px 10px;
          text-decoration: none;
          color: black;
          text-transform: uppercase; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-list {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0; }
      .nav-list li {
        display: flex;
        border-bottom: 1px solid #e74c3c;
        padding: 10px 0;
        transition: 200ms; }
        .nav-list li:hover {
          cursor: pointer;
          background-color: #1A1A1A;
          border-top: 4px solid #e74c3c;
          animation: navigation 300ms 1 forwards; }
          .nav-list li:hover a {
            color: white;
            padding: 6px 10px; }
        .nav-list li a {
          flex: 1;
          padding: 10px 10px;
          text-decoration: none;
          color: black;
          text-transform: uppercase; } }

.nav-active {
  transition: 1s;
  right: 0; }

@media only screen and (min-width: 1200px) {
  .fixed-nav {
    position: fixed;
    top: 0;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .fixed-nav {
    position: fixed;
    top: 0;
    width: 100%; } }

.wp-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: url("../../images/background/bg5.jpg");
  background-size: cover;
  background-position: center; }

.hero-slogan {
  margin-bottom: 100px;
  text-transform: uppercase;
  transition: 1s;
  animation: drop 500ms ease-out 1 both 1s; }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .hero-slogan {
      margin-bottom: 80px; } }
  @media only screen and (max-width: 420px) {
    .hero-slogan {
      margin-bottom: 60px; } }

.logo {
  z-index: 1002;
  background-image: url("../../images/logo/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 112px;
  min-height: 73px; }
  @media only screen and (max-width: 420px) {
    .logo {
      top: 5px;
      left: 5px;
      width: calc(112px / 1.5);
      height: calc(73px / 1.5); } }
  @media only screen and (min-width: 1200px) {
    .logo {
      top: 75px;
      left: 100px;
      width: 112px;
      min-height: 73px; } }

.logo2 {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 112px;
  min-height: 73px; }
  @media only screen and (min-width: 1200px) {
    .logo2 {
      top: 75px;
      left: 100px;
      width: 112px;
      min-height: 73px; } }
  .logo2:after {
    content: '';
    position: absolute;
    top: 2px;
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    border-radius: 15px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    z-index: 0;
    right: 54px; }
    @media only screen and (max-width: 420px) {
      .logo2:after {
        border: none; } }
  .logo2:before {
    content: '';
    position: absolute;
    top: 2px;
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    border-radius: 15px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    z-index: 0;
    left: 54px; }
    @media only screen and (max-width: 420px) {
      .logo2:before {
        border: none; } }
  .logo2:hover {
    cursor: pointer;
    animation: pulse 1200ms ease-out infinite both; }

.scroll-down-btn {
  position: absolute;
  bottom: 40px;
  margin-top: 100px;
  transform: translate(-50%, -50%) scale(1);
  animation: jump 600ms ease-out infinite both; }
  @media only screen and (max-width: 420px) {
    .scroll-down-btn {
      bottom: 20px; } }
  .scroll-down-btn:hover {
    border-top: 2px solid #e74c3c; }
  .scroll-down-btn i {
    color: #e74c3c;
    font-size: 40px;
    padding: 0 10px; }
    .scroll-down-btn i:hover {
      cursor: pointer;
      transform: scale(1.2); }

.hamburger-box {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  order: 3;
  background-color: rgba(44, 62, 80, 0.7);
  transform: rotate(45deg);
  border-radius: 10px;
  z-index: 1001; }
  @media only screen and (min-width: 1200px) {
    .hamburger-box {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .hamburger-box {
      display: none; } }

.hamburger {
  top: 50%;
  height: 3px;
  transform: translate(-50%, -50%) rotate(135deg);
  transition: all 500ms ease-in;
  position: absolute;
  left: 50%;
  width: 20px;
  margin: auto;
  background-color: white;
  transition: 0.5s; }

.hamburger:before,
.hamburger:after {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  width: 20px;
  margin: auto;
  background-color: white;
  transition: 0.5s;
  content: '';
  height: 3px; }

.hamburger:before {
  top: -5px; }

.hamburger:after {
  top: 8px; }

.activeHamb {
  transition: 0.8s; }
  .activeHamb .hamburger {
    background-color: transparent;
    transition: all 300ms ease-in; }
  .activeHamb .hamburger:before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transition: all 300ms ease-in; }
  .activeHamb .hamburger:after {
    top: 0;
    left: 0;
    transform: rotate(135deg);
    transition: all 300ms ease-in; }

.banner,
.banner-sm {
  position: relative;
  height: 320px;
  min-width: 100%;
  background-color: #e74c3c;
  background-image: url("../../images/background/bg3.jpg");
  background-position: center;
  background-size: cover; }

.banner-sm {
  background-image: url("../../images/background/bg4.jpg");
  height: 160px; }

.bg-color,
.bg-color-sm {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  width: 100%;
  background-color: #e74c3c;
  opacity: 0.8; }

.bg-color {
  height: 320px; }

.banner-slogan {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.offer-bg-pic {
  min-height: 1000px;
  width: 600px;
  position: absolute;
  right: 0;
  bottom: 0; }

@media only screen and (min-width: 768px) {
  .offer-bg-pic {
    background-image: url("../../images/background/bw9.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat; } }

.offer-container {
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: relative;
  border-top: 1px solid #f8c9c4;
  border-bottom: 1px solid #f8c9c4; }

.offer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  transition: 1s;
  margin: 30px;
  padding: 50px 0; }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .offer-list {
      padding: 25px 0; } }
  @media only screen and (max-width: 420px) {
    .offer-list {
      padding: 0;
      margin: 0; } }

.offer-item {
  position: relative;
  transition: 1s;
  width: 500px; }
  @media only screen and (min-width: 1200px) {
    .offer-item {
      width: 800px;
      height: 44px;
      border: none;
      margin: 12px; }
      .offer-item:first-child {
        border-top: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .offer-item {
      width: 700px;
      height: 44px;
      margin-bottom: 10px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .offer-item {
      width: 400px;
      height: 90px; } }
  @media only screen and (max-width: 420px) {
    .offer-item {
      width: 280px;
      height: 100px;
      padding: 0 15px;
      margin: 0; } }

.content-title {
  position: relative;
  transition: 500ms; }
  .content-title:hover {
    cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    .content-title:hover {
      cursor: pointer;
      color: #3498db;
      transform: scale(1.1); } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .content-title:hover {
      cursor: pointer;
      color: #3498db;
      transform: scale(1.1); } }
  @media only screen and (max-width: 420px) {
    .content-title {
      padding: 13px; } }

.content-box {
  margin: 0;
  visibility: hidden;
  transition-delay: 200ms;
  transition: 200ms;
  overflow: hidden;
  padding: 0 0 10px 50px;
  border-bottom: 1px solid #AAA9A7; }
  @media only screen and (max-width: 420px) {
    .content-box {
      padding: 5px 10px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .content-box {
      padding: 10px 15px; } }
  .content-box ul {
    list-style-type: circle; }

.toggle {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  width: 44px;
  height: 44px;
  background-color: #008000;
  transition: 1s ease-out;
  border-radius: 10px; }
  .toggle span {
    transform: rotate(45deg);
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 21px;
    left: 11px;
    transition: 1s; }
  .toggle span:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 2px;
    height: 22px;
    transition: 1s;
    background-color: white; }

.cont-active {
  transition: 1s; }
  @media only screen and (max-width: 420px) {
    .cont-active {
      height: 300px; }
      .cont-active:nth-child(1), .cont-active:nth-child(2), .cont-active:nth-child(11) {
        height: 420px; }
      .cont-active:nth-child(3) {
        height: 400px; }
      .cont-active:nth-child(8) {
        height: 240px; }
      .cont-active:nth-child(9) {
        height: 280px; }
      .cont-active:nth-child(10), .cont-active:nth-child(12) {
        height: 220px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .cont-active {
      height: 270px; }
      .cont-active:nth-child(1), .cont-active:nth-child(2) {
        height: 350px; }
      .cont-active:nth-child(11) {
        height: 380px; }
      .cont-active:nth-child(3) {
        height: 320px; }
      .cont-active:nth-child(8) {
        height: 210px; }
      .cont-active:nth-child(9) {
        height: 230px; }
      .cont-active:nth-child(10) {
        height: 190px; }
      .cont-active:nth-child(12) {
        height: 170px; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .cont-active {
      height: 220px; }
      .cont-active:nth-child(1) {
        height: 300px; }
      .cont-active:nth-child(2) {
        height: 340px; }
      .cont-active:nth-child(11) {
        height: 390px; }
      .cont-active:nth-child(3) {
        height: 250px; }
      .cont-active:nth-child(5) {
        height: 270px; }
      .cont-active:nth-child(8) {
        height: 210px; }
      .cont-active:nth-child(9) {
        height: 230px; }
      .cont-active:nth-child(10) {
        height: 190px; }
      .cont-active:nth-child(12) {
        height: 170px; } }
  @media only screen and (min-width: 1200px) {
    .cont-active {
      height: 220px; }
      .cont-active:nth-child(1) {
        height: 310px; }
      .cont-active:nth-child(2) {
        height: 370px; }
      .cont-active:nth-child(11) {
        height: 400px; }
      .cont-active:nth-child(3) {
        height: 250px; }
      .cont-active:nth-child(5) {
        height: 280px; }
      .cont-active:nth-child(8) {
        height: 210px; }
      .cont-active:nth-child(9) {
        height: 230px; }
      .cont-active:nth-child(10) {
        height: 190px; }
      .cont-active:nth-child(12) {
        height: 170px; } }
  .cont-active .content-title {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 1s; }
    .cont-active .content-title .toggle {
      background-color: #e74c3c;
      border-bottom: none;
      border-radius: 50%;
      transition: 1s; }
      .cont-active .content-title .toggle span {
        transition: 1s;
        transform: rotate(180deg); }
  .cont-active .content-box {
    visibility: visible;
    transition: 1s;
    transition-delay: 500ms;
    margin-top: 15px; }
    @media only screen and (max-width: 420px) {
      .cont-active .content-box {
        margin-top: 10px; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .cont-active .content-box {
        margin-top: 10px; } }

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 100px 200px; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio {
      margin: 100px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .portfolio {
      margin: 50px; } }
  @media only screen and (max-width: 420px) {
    .portfolio {
      margin: 50px; } }
  .portfolio .box {
    margin: 20px;
    width: 200px;
    height: 160px;
    transition: 300ms; }
    .portfolio .box:hover {
      transform: scale(1.1);
      border-top: 6px solid #e74c3c;
      border-bottom: 6px solid #e74c3c;
      border-radius: 10px; }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      .portfolio .box {
        margin: 5px;
        width: 200px;
        height: 160px; } }
    @media only screen and (max-width: 420px) {
      .portfolio .box {
        margin: 5px;
        width: 200px;
        height: 160px; } }

.txt-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%; }

.txt-evo {
  background-image: url("../../images/background/bg7.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }

.companies-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: auto; }

.bg-red {
  background-color: #f29f97;
  width: 100%;
  text-align: center; }

.logos-box {
  margin: 50px 0;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .logos-box .c-logo {
    margin: 10px;
    width: 150px;
    background-size: cover;
    background-position: center; }

.c-logo-1 {
  background-image: url("../../images/companies/hotel.jpg");
  height: 131px; }

.c-logo-2 {
  background-image: url("../../images/companies/glass.jpg");
  height: 60px; }

.c-logo-3 {
  background-image: url("../../images/companies/faltom.jpg");
  height: 99px; }

.c-logo-4 {
  background-image: url("../../images/companies/grafprom.jpg");
  height: 36px; }

.c-logo-5 {
  background-image: url("../../images/companies/kaszebe.jpg");
  height: 97px; }

.c-logo-6 {
  background-image: url("../../images/companies/tyszkiewicz.jpg");
  height: 25px; }

.c-logo-7 {
  background-image: url("../../images/companies/familyfish.jpg");
  height: 106px; }

.c-logo-8 {
  background-image: url("../../images/companies/oltrans.png");
  height: 36px; }

.job-container {
  display: flex;
  min-height: auto;
  border-top: 1px solid #f8c9c4;
  border-bottom: 1px solid #f8c9c4; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .job-container {
      margin: 100px;
      flex-direction: row; } }

.job-box {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: 50px 20px; }
  @media only screen and (min-width: 1200px) {
    .job-box {
      margin-left: 220px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .job-box {
      margin: 0; } }
  @media only screen and (max-width: 420px) {
    .job-box {
      margin: 0; } }

.img-bulb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url("../../images/background/bulb.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat; }

.slide-in {
  transition: 500ms;
  transform: translateX(-20%) scale(0.85); }

.img-active {
  transform: translateX(0) scale(1); }

.job-txt {
  padding: 20px;
  z-index: 100;
  background-color: rgba(221, 76, 60, 0.8); }
  @media only screen and (min-width: 1200px) {
    .job-txt {
      border-radius: 10px; } }
  @media only screen and (min-width: 1200px) {
    .job-txt {
      margin-right: 100px; } }

.txt-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%; }

.txt-revo {
  background-image: url("../../images/background/bg7.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }

.txt-content2 {
  display: flex;
  max-width: 100%;
  margin: 50px 100px 0 250px; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .txt-content2 {
      margin: 50px 100px; } }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .txt-content2 {
      margin: 0 0 20px 0;
      border-top: 1px solid white; } }
  @media only screen and (max-width: 420px) {
    .txt-content2 {
      margin: 0 0 20px 0;
      border-top: 1px solid white; } }

.coop-img {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 50px 20px;
  background-image: url("../../images/background/cube.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .coop-img {
      margin: 0; } }
  @media only screen and (max-width: 420px) {
    .coop-img {
      margin: 0; } }

.txt-coop {
  padding: 40px;
  background-color: rgba(221, 76, 60, 0.8); }
  @media only screen and (min-width: 1200px) {
    .txt-coop {
      border-radius: 10px; } }
  @media only screen and (min-width: 1200px) {
    .txt-coop {
      margin-right: 100px; } }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 100%;
  background-color: #e74c3c; }
  footer .foot-txt {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #ea6557; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      footer .foot-txt {
        flex-direction: column; } }
    @media only screen and (min-width: 421px) and (max-width: 767px) {
      footer .foot-txt {
        flex-direction: column; } }
    @media only screen and (max-width: 420px) {
      footer .foot-txt {
        flex-direction: column; } }

.fade-in-jQ {
  opacity: 0; }

.slide-right-jQ {
  opacity: 0;
  margin-right: 340px;
  margin-left: -340px; }

.slide-left-jQ {
  opacity: 0;
  margin-left: -340px;
  margin-right: 340px; }

/*# sourceMappingURL=style.css.map */